body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffe6e6, #fff);
  text-align: center;
  margin: 50px;
}

h1, h2 {
  color: #1f0813;
}

button {
  background-color: #2b0f1a;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #c72777;
}

img {
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0 0 15px #999;
}